site_name: ReductStore Client SDK for Python
site_url: "https:/py.reduct.store"
docs_dir: .
nav:
  - Home: README.md
  - API Reference:
      - Client: docs/api/client.md
      - Bucket: docs/api/bucket.md
      - ReductError: docs/api/reduct_error.md
      - ServerInfo: docs/api/server_info.md
      - BucketInfo: docs/api/bucket_info.md
      - BucketSettings: docs/api/bucket_settings.md
      - EntryInfo: docs/api/entry_info.md
      - Token: docs/api/token.md
  - ReductStore: https://www.reduct.store

repo_name: reductstore/reduct-py
repo_url: https://github.com/reductstore/reduct-py
edit_uri: edit/main/docs


# Configuration
theme:
  name: material
  language: en
  palette:
    primary: 231b49
  font:
    text: Roboto
    code: JetBrains Mono
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.indexes
    - navigation.top

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed
  - pymdownx.tilde
  - pymdownx.snippets:
      base_path: docs
      check_paths: true
  - plantuml_markdown:
      format: svg

plugins:
  - same-dir
  - mkdocstrings:
      default_handler: python
      enable_inventory: false
      handlers:
        python:
          rendering:
            show_root_heading: true
            show_bases: false
            show_source: false
          selection:
            docstring_style: google
  - autorefs


extra:
  analytics:
    provider: google
    property: G-3VXRKVYKGG
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
